.navbar {
  background-color: #3d84a8;
}

.App {
  background-color: #ffffff;
}

.transparent-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.trick {
  /* Word "Trick" at the Navbar styling */
  color: #ffffff;
  font-weight: 300;
  padding-left: 15px;
  font-size: x-large;
}

.footer-label {
  font-weight: 300;
  color: #ffffff!important;
  margin-left: 15px;
  margin-right: 15px;
  font-size: normal;
}

.trick-video {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 640px;
}

.title {
  font-weight: 400;
  margin-top: 25px;
  font-size: xx-large;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #abedd8!important;
  cursor: pointer;
}

.card:hover {
  /* On mouse-over, add a deeper shadow */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  color: #000;
  font-size:1.2rem;
}

.description {
  font-weight: 300;
  margin-top: 5px;
  font-size: x-large;
}

.base {
  /* Word "Base" at the Navbar styling */
  color: #ffffff;
  padding-left: 5px;
  font-size: x-large;
  font-weight: 600;
}

.disciplines-list {
  padding-top: 15px;
}

.grid {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */
.grid > * {
  background: #abedd8;
  border: 3px white solid;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
